{% extends 'FTCWebBundle::layout.html.twig' %}

{% block content %}

<div class="row-fluid">
	<div class="span12">
        <div class="hero-unit">
          <h1>Fix That Code</h1>
          <p>Collaborative code refactoring</p>
          <p>Coding is an art, there are many ways of painting an apple, but which is better? Most of the code we write
              everyday can be written in better ways to achieve different objectives, sometimes all it takes is a 
              different set of eyes on it. Code quality also has various markers that can be validated, and you
              usually do not have the time to see them, or are too caught up in the moment to see it.</p>
          <p>That's where <strong>FixThatCode.com</strong> steps in. Its a place where you can get feedback on your
              code, challenge other developers to improve it, work out ideas, in general just collaborative discuss
              or rewrite a piece of code. It allows you show pieces of bad code you find, but to also fix these and
              teach people how to not repeat those mistakes. Come on in and help us make code better.</p>
        </div>
	</div>	
</div>

<div class="row-fluid">
    <div class="span2">
        <h3>You can get help in these categories:</h3>
    </div>
    {% for key, category in categories.getTargetUserChoices() %}

        <div class="type-well span2 type-{{ key }}-bg rounded categoryBox">
            <h3>{{ category }}</h3>
            <p class="desc">{{ categories.getCategoryDetails(key) }}</p>
            <div class="right"><a href="{{ path('entry_type_list', {slug: key}) }}"><i class="icon-search icon-white"></i></a></div>
        </div>

    {% endfor %}
</div>

<div class="row-fluid">
    <div class="span8">
        <h1 id="activity">Latest Code Entries</h1>
        <ul class="unstyled activity-list">
            {% for entry in entries %}
            <li class="entry">
                
                <div class="row-fluid">
                    <div class="span3 type-{{entry.type}}-bg rounded type-well-mini ">
                        {{ entry.getTargetUserTypeText() }}
                    </div>
                    
                    <div class="span9">
                        <h3>
                            <a href="{{path("entry_show", {id: entry.id})}}">{{entry.title}}</a>
                            <span class="badge badge-inverse">{{ entry.comments.count()}} reactions</span>
                        </h3>
                        <p class="description">{{entry.description[0:300]}}</p>
                        <p>     
                            <a href="{{path("user_profile", {username: entry.author.usernameCanonical})}}"><img src="{{ gravatar(entry.author.email, 25) }}" alt=""></a>
                            <a href="{{path("user_profile", {username: entry.author.usernameCanonical})}}">{{ entry.author.fullName}}</a>

                            <span class=""> about {{entry.dateSubmited|daysAgo}}</span>
                        </p>
                    </div>
                </div>
            </li>                    
            {% endfor %}
        </ul>
    </div>
    

    <div class="span4 ">
        
        <div class="row-fluid">
            <div class="span12">
                <div class="well">
                    <h3>Add your own code</h3>
                    Want to improve you code? Or maybe just get some feedback from other developers? 
                    <a class="btn btn-success" href="#">Add your own code</a>
                </div>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span12">
                <h1 id="latest_users">Latest Users</h1>
                <div class="user-avatar-list">
                    {% for user in users %}
                        <a href="{{path("user_profile", {username: user.usernameCanonical})}}"><img src="{{ gravatar(user.email, 60) }}" alt="" title="{{ user.fullName }}"></a>
                    {% endfor %}            
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" charset="utf-8">
    $(".categoryBox").click(function(){
         window.location=$(this).find("a").attr("href"); 
         return false;
    });
</script>
{% endblock %}