{% extends 'FTCWebBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span4">
        <h1>Adding Snippet to <strong>{{ entry.title }}</strong></h1>        
        <p>Great, we have you details but now we need your code. Go ahead and type or paste in your code in the form, 
            you can put it all in one single file or add multiple snippets if that organization makes sense to you.</p>
        <p>Be sure to write code as valid as possible, avoid random snippets as that will not only hinder highlighting 
            useless but may also confuse whoever is going to try to help you. Rename variables and namespaces if your
            company is worried about intellectual property or facilitating attacks, but if the company policy is to
            not put code out in the open <strong>ever</strong>, then respect their wish. Or try to explain to them 
            that community is the best support team in the world.</p>
        <p>Legal disclaimer: Respect the licensing of code you paste here, if it cannot be pasted here, don't paste it.</p>
    </div>
	<div class="span8">

		<form class="form-horizontal" action="{{ path('entry_snippet_create') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
            <div class="control-group">
                <div id="editor" class="span8 editor">&lt;?php

/**
* Add your code here
*/
</div>
            </div>
	        <div class="form-actions-nomargin form-actions ">
				<input type="submit" class="btn btn-primary" name="done" value="I'm done!" />
	            <input type="submit" class="btn btn-success" name="submit_more" value="Add another snippet" />
	            <button type="reset" class="btn">Cancel</button>
	        </div>
		</form>

	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/ace/ace-noconflict.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace/theme-twilight-noconflict.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace/mode-javascript-noconflict.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace/mode-php-noconflict.js" type="text/javascript" charset="utf-8"></script>
<script>
window.onload = function() {
    var editor = ace.edit("editor");
    editor.setShowPrintMargin(false);
    editor.setTheme("ace/theme/twilight");

    var PhpMode = ace.require("ace/mode/php").Mode;
    editor.getSession().setMode(new PhpMode());
    
    editor.getSession().on('change', function(){
        $('#ftc_bundle_codebundle_snippettype_code').val( editor.getSession().getValue() );
        console.log(editor.getSession().getValue());
    });
};
</script>

<script>
$(document).ready(function(){
    $('#ftc_bundle_codebundle_snippettype_code').parent().parent().hide();
});
</script>
{% endblock %}

