{% extends 'FTCWebBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span9">
        <div class="row">
            <div class="span9">
                <span class="label label-info">{{ entry.getTargetUserTypeText() }}</span>

                <h1>
                    {{ entry.title }} 
                    <!-- TODO: only if owner -->
                    <a href="{{ path('entry_edit', { 'id': entry.id }) }}" class="btn btn-mini"><i class="icon-pencil"></i></a>
                </h1>
            </div>
        </div>
        
        <div class="row">
            <div class="span9">
                <p>{{ entry.description|nl2br }}</p>
            </div>
        </div>
        
        <div class="row">
            <div class="span9">
                {% for snippet in entry.snippets %}
                    <div class="well editor-filename">
                        <div class="row-fluid">
                            <div class="span10">
                                <i class="icon-file"></i> {{ snippet.name }} (see latest | see top rated)                                
                            </div>
                            <div class="span2 right">
                                <a href="#" class="btn btn-info btn-mini"><i class="icon-pencil icon-white"></i>  fork and edit</a>
                            </div>
                        </div>
                    </div>
                    
                    <div id="editor-{{ snippet.id }}" class="editor span9">{{ snippet.code }}</div>
                    <div id="editor-{{ snippet.id }}-placeholder" class="editor-placeholder"></div>                
                {% endfor %}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span8">
                <h2>Reactions</h2>
            </div>
            <div class="span4 right">
                <a href="#" class="btn btn-info"><i class="icon-comment icon-white"></i> comment</a>
                <a href="#" class="btn btn-info"><i class="icon-pencil icon-white"></i> edit the code</a>
            </div>
        </div>
        <div class="row">
            <div class="span9">
                {% for comment in entry.comments %}
                    <p>{{comment.comment}}</p>
                {% else %}
                    <p>No reactions yet, be the first: <a href="#">comment</a> or <a href="#">tweak the code</a></p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="span9">
        		<form class="form-horizontal form-nolabels" action="{{ path("entry_comment_create", {id: entry.id}) }}" method="post" {{ form_enctype(comment_form) }}>
        			{{ form_widget(comment_form) }}
        	        <div class="form-actions-nomargin">
        	            <button type="submit" class="btn btn-primary"><i class="icon-comment icon-white"></i> comment</button>
        	            <button type="reset" class="btn">Cancel</button>
        	        </div>
        		</form>
            </div>
        </div>
    </div>
    
    <div class="span3 sidebar">
        <div class="row-fluid profile">
            <div class="span8">
                <h3>{{ entry.author.fullName }}</h3>
                <p>Developer, gamer, lover of awesome code.</p>
            </div>
            <div class="span4">
                <img src="{{ gravatar(entry.author.email, 85) }}" alt="">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h3>Stats</h3>
                
                <dl class="stats">
                    <dt>12</dt>
                    <dd>Comments</dd>
                    
                    <dt>12</dt>
                    <dd>Forks</dd>
                </dl>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h3>Participants</h3>
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
                <img src="{{ gravatar(entry.author.email, 32) }}" alt="">
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="/ace/ace-noconflict.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace/theme-twilight-noconflict.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace/mode-javascript-noconflict.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace/mode-php-noconflict.js" type="text/javascript" charset="utf-8"></script>

{% for snippet in entry.snippets %}
    
    <script>
    $(document).ready(function(){
        var editor{{snippet.id}} = new ace.edit("editor-{{ snippet.id }}");
        editor{{snippet.id}}.setShowPrintMargin(false);
        editor{{snippet.id}}.setTheme("ace/theme/twilight");
        editor{{snippet.id}}.setReadOnly(true);
        editor{{snippet.id}}.getSession().setUseWrapMode(true);

        var PhpMode = ace.require("ace/mode/php").Mode;
        editor{{snippet.id}}.getSession().setMode(new PhpMode());
        
        size = editor{{snippet.id}}.getSession().getValue().split("\n").length * 20 + 15;
        $("#editor-{{ snippet.id }}").height(size);
        $("#editor-{{ snippet.id }}-placeholder").height(size + 20);
        editor{{snippet.id}}.resize()
    });
    </script>

{% endfor %}


{% endblock %}